article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 125%;
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
  font-family: "Open Sans", Sans-Serif;
  font-size: 0.875rem; }
  html body {
    min-height: 100vh;
    position: relative; }
  html .wrapper {
    width: 90%;
    max-width: 480px;
    margin: 0 auto; }
  html img {
    width: 100%;
    display: block; }
  html a {
    text-decoration: none; }
  html ul {
    margin: 0px;
    padding: 0px; }
    html ul li {
      list-style: none; }

header {
  position: fixed;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#4766F7), to(#3C9AFA));
  background: -webkit-linear-gradient(top, #4766F7, #3C9AFA);
  background: -o-linear-gradient(top, #4766F7, #3C9AFA);
  background: linear-gradient(to bottom, #4766F7, #3C9AFA);
  border-radius: 0px 0px 25px 25px;
  overflow: hidden; }
  header .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  header .openDD {
    position: absolute;
    visibility: hidden;
    top: 10000; }
  header #openDD:checked + .menu {
    height: 320px; }

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .navBar .hamburgerMenu {
    width: 30px; }
    .navBar .hamburgerMenu .bar {
      margin: 4px 0px;
      height: 4px;
      width: 100%;
      border-radius: 2px;
      background-color: #F2F2F2;
      position: relative;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
  .navBar .logo {
    width: 80px; }
  .navBar .user {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden; }

.menu {
  height: 0px;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .menu ul li {
    border-top: 0.5px solid rgba(242, 242, 242, 0.3);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .menu ul li:first-child {
      border-top: 2px solid rgba(242, 242, 242, 0.3); }
    .menu ul li a {
      width: 100%;
      color: #F2F2F2;
      font-size: 1.2rem; }
      .menu ul li a i {
        margin-right: 20px; }
      .menu ul li a .wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start; }
    .menu ul li:hover {
      background: rgba(242, 242, 242, 0.1); }
  .menu .closeBar {
    margin: 10px auto;
    height: 4px;
    width: 30px;
    border-radius: 2px;
    background-color: #F2F2F2; }

.createPost {
  background-color: #F2F2F2;
  padding: 10px 0px;
  position: fixed;
  bottom: 0;
  width: 100%; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0px 10px 10px;
  margin: 10px 0px;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden; }
  form .postBoxLayout {
    position: absolute;
    visibility: hidden;
    top: 10000; }
  form input#postBoxLayout:checked ~ .postText {
    width: 100%;
    min-height: 30px; }
  form input#postBoxLayout:checked ~ .postBtns {
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 10px; }
  form fieldset {
    padding: 0px;
    margin: 0px;
    border: none; }
  form .postImgPreview {
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    position: relative;
    margin-top: 10px; }
    form .postImgPreview .close {
      display: none;
      position: absolute;
      top: 5px;
      right: 8px;
      color: #4766F7;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      form .postImgPreview .close:hover {
        opacity: 0.3; }
  form .postText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-top: 10px; }
    form .postText .userInputLabel {
      position: absolute;
      visibility: hidden;
      top: 10000; }
    form .postText textarea {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      resize: none;
      font-size: 0.8rem;
      color: #1F1C20;
      border: none; }
  form .postBtns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-family: "Ubuntu", Sans-Serif;
    color: #1F1C20; }
    form .postBtns button {
      color: #4766F7;
      background-color: #ffffff;
      border: none; }
    form .postBtns label img {
      fill: #4766F7; }
  form .newImgInput {
    position: absolute;
    visibility: hidden;
    top: 10000; }

.newsFeed {
  padding-top: 100px;
  padding-bottom: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  min-height: 100vh;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.card {
  border-bottom: 2px solid #CDD7EC;
  padding-bottom: 20px;
  margin-bottom: 20px; }
  .card .author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .card .author .authorProfileImg {
      width: 20px;
      height: 20px;
      overflow: hidden;
      border-radius: 100%;
      margin-right: 10px; }
    .card .author h2 {
      font-size: 1rem;
      font-family: "Ubuntu", Sans-Serif; }
  .card .postImg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 5px; }
  .card .date, .card .date p {
    font-size: 0.8rem;
    color: #bfbec0;
    margin: 0px; }
  .card .date {
    margin-bottom: 5px; }
  .card .newTextPost {
    font-size: 0.8rem;
    color: #1F1C20;
    margin-top: 3px; }
    .card .newTextPost a {
      color: #4766F7; }
  .card p {
    margin: 0px; }

.errMessage {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(71, 102, 247, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: none; }
  .errMessage .failMessageContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    color: #F2F2F2; }
    .errMessage .failMessageContainer .failImg {
      width: 100px;
      margin-bottom: 10px; }
    .errMessage .failMessageContainer h2, .errMessage .failMessageContainer p {
      margin: 5px 0px; }
    .errMessage .failMessageContainer .failBtn {
      margin-top: 20px;
      background-color: #4766F7;
      color: #F2F2F2;
      font-family: "Ubuntu", Sans-Serif;
      padding: 10px 20px;
      border: none;
      border-radius: 5px; }

.posted {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #4766F7;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 105px; }
  .posted p {
    text-align: center;
    color: #F2F2F2;
    font-family: "Ubuntu", Sans-Serif; }
