//Base styles & mixins that will be used throughout the project

//fonts
$primaryFont: 'Open Sans', Sans-Serif;
$secondaryFont: 'Ubuntu', Sans-Serif;

//colors
$primaryColor: #4766F7;
$secondaryColor: #3C9AFA;
$tertiaryColor: #1F1C20;
$quaternaryColor: #F2F2F2;

// mixin
@mixin flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin flexColum {
  display: flex;
  flex-direction: column;
}

@mixin flexColumReverse {
  display: flex;
  flex-direction: column-reverse;
}

@mixin hideItem {
   position: absolute;
   visibility: hidden;
   top: 10000;
}


// base styles
html{
    font-size: 125%; 
    padding: 0px; 
    margin: 0px;
    scroll-behavior: smooth;
    font-family: $primaryFont;
    font-size: 0.875rem;//14px
    body{
      min-height: 100vh;
      position: relative;
    }
    .wrapper{
        width: 90%;
        max-width: 480px;
        margin: 0 auto;
    }
    img{
        width: 100%;
        display: block;
    }
    a{
        text-decoration: none;
    }
    ul{
        margin: 0px;
        padding: 0px;
        li{
            list-style: none;
        }
    }
    
}


