
// header styles
header{
    position: fixed;
    width: 100%;
    background: linear-gradient(to bottom, $primaryColor , $secondaryColor);
    border-radius: 0px 0px 25px 25px;
    overflow: hidden;
    .wrapper{
        @include flexColum;   
    }
    .openDD{
        @include hideItem
    }

    #openDD:checked + .menu{  
        height: 320px;  
    }
}


// navbar styles
.navBar{
    @include flexRow; 
    // menuIcon
    .hamburgerMenu{
        width: 30px;
        .bar{
            margin: 4px 0px;
            height: 4px;
            width: 100%;
            border-radius: 2px;
            background-color: $quaternaryColor;
            position: relative;
            transition:all 0.3s;
        }
    }
    // mainLogo
    .logo{
        width: 80px;
    }
    // userIcon
    .user{
        width: 50px;
        height: 50px;
        border-radius: 100%;
        overflow: hidden;
    }
}

// dropDownMenu
.menu{
    height:0px;
    overflow: hidden;
    transition:all 0.3s;
    // listItem
  ul li{
       border-top: .5px solid rgba(242,242,242,0.3);
       transition: all 0.3s ease;
       &:first-child{
           border-top: 2px solid rgba(242,242,242,0.3);
       }
    //ListItemLink
        a{
            width: 100%;
            color:$quaternaryColor;
            font-size: 1.2rem;//19.2px;
            //ListItemIcon
            i{
                margin-right: 20px;
            }
            //ListItemWrapper
            .wrapper{
                @include flexRow;
                justify-content: flex-start;
                
            }
        }
        &:hover{
            background: rgba(242, 242, 242, 0.1);  
        }  
    }
    .closeBar{
         margin: 10px auto;
         height: 4px;
         width: 30px;
         border-radius: 2px;
         background-color: $quaternaryColor;
    }
        
}

