// Styles for SuccessMessage
.posted{
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $primaryColor;
    display: none;
    justify-content: center;
    align-items: center;
    height: 130px;
    p{
        text-align: center;
        color: $quaternaryColor;
        font-family: $secondaryFont;
    }
}